# Dependencies
/node_modules

# Next.js
/.next/
/out/
/build

# Production / deploy
.vercel

# Environment variables (CRITICAL)
.env*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# OS / system
.DS_Store
Thumbs.db

# IDE
.vscode
.idea

# TypeScript
*.tsbuildinfo

# Prisma
/app/generated/prisma
prisma/dev.db
prisma/dev.db-journal

# Misc
*.pem
/coverage